<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href = "static/css/styles.css"
<body>  

<!-- Navbar -->
<div class="w3-top w3-gray" style="display:block;">
 
  
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  {% load flatpages %}
  {% get_flatpages as flatpages %}
  {% for page in flatpages %}
    <a href="{{ page.url }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> {{ page.title }}</a>
  {% endfor %}
  
</div>
  <!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  {% load static %}
  <img src="{% static "machine.jpg" %}" alt="image" class="styledimg" style="width:100%;min-height:50px;max-height:300px;">
</div>
<div style="margin-left: 20%; margin-right: 20%;">
{% block content %}
{% endblock %}
</div> 

<footer style = 'position:absolute; bottom:0; width:100%;'>
  <center>
  <a href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Scikit Learning</a>
  <a href="https://static-content.springer.com/esm/art%3A10.1038%2Fncomms5212/MediaObjects/41467_2014_BFncomms5212_MOESM1045_ESM.txt" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Online Dataset</a>
</center>
</footer>
</body>
</html>
