<!DOCTYPE html>
<html>
<title>Disease Classifier</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
    rel = "stylesheet">

<body style="height: 100%">  

<div style="height: 100%">

<!-- Navbar -->
<!--
<div class="w3-top w3-gray" style="display:block;">
 
  
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  {% load flatpages %}
  {% get_flatpages as flatpages %}
  {% for page in flatpages %}
    <a href="{{ page.url }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> {{ page.title }}</a>
  {% endfor %}
  
</div>
-->

  <!-- Image Header -->
  <!--
<div class="w3-display-container w3-animate-opacity">
  {% load static %}
  <img src="{% static "machine.jpg" %}" alt="image" class="styledimg" style="width:100%;min-height:50px;max-height:300px;">
</div>-->
<div style="margin-left: 20%; margin-right: 20%;">
<!--
{% block content %}
{% endblock %}
-->
  <div class="ui-widget">
    <label for="searchbar">Symptoms: </label>
    <input id="searchbar">
</div> 

</div> 

<!--
<footer>
  <p>Built By Jeeth</p>
</footer>
-->
</body>

<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


{% block javascript %}
<script>
  //$('#searchbar').on('keyup', function(){
  $(function() {
    $('#searchbar').autocomplete({
      source: ['js', 'python', 'php']
    })
  });


</script>
{% endblock %}


</html>