<!DOCTYPE html>
<html>
<title>Disease Classifier</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
    rel = "stylesheet">

<body style="height: 100%">  

<div style="height: 100%">

<!-- Navbar -->
<div class="w3-top w3-gray" style="display:block;">
 
  
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-teal">Home</a>
  <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
  <a href="{% url 'futuresteps' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Future Steps</a>

</div>

  <!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  {% load static %}
  <img src="{% static "machine.jpg" %}" alt="image" class="styledimg" style="width:100%;min-height:50px;max-height:300px;">
</div>
<div style="margin-left: 20%; margin-right: 20%;">
{% block content %}
{% endblock %}

</div> 

<footer style="position: relative; bottom: 0; width: 100%">
  <center>
  <a href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Scikit Learn</a>
  <a href="https://static-content.springer.com/esm/art%3A10.1038%2Fncomms5212/MediaObjects/41467_2014_BFncomms5212_MOESM1045_ESM.txt" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Online Dataset</a>
  <a href="https://static-content.springer.com/esm/art%3A10.1038%2Fncomms5212/MediaObjects/41467_2014_BFncomms5212_MOESM1045_ESM.txt" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Link to GitHub</a>
</center>
</footer>
</body>

<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


{% block javascript %}
<script>

  // select checkbox of symptom upon pressing 'Select' button
  $('#searchbar-button').on('click', function(e) {
    console.log('select')
    var selectWord = $('#searchbar').val();
    $.ajax({
      url: "{% url 'check_checkbox' %}",
      data: {
        'select' : selectWord
      },
      dataType: 'json',
      success : function(data) {
        var id = data.id;
        if (id >= 0) {
          console.log("helloworld")
          console.log(id)
          // check the box if valid id
          $('#id_Symptoms_' + id).prop('checked', true);
        }
        
      }
    });
  })

  // monitor searchbar for valid keyboard input
   $('#searchbar').on('keyup', function(e) {
      var keyCode = e.which;

      // pressed regular character => Send data to Autocomplete.search()
      if ((keyCode > 64 && keyCode < 91) || (keyCode > 96 && keyCode < 123) || (keyCode == 8)) {
        console.log('search')
        var searchValue = $(this).val();
        $.ajax({
          url: "{% url 'autocomplete_search' %}",
          data: {
            'search' : searchValue
          },
          dataType: 'json',
          success : function(data) {
            var list = data.list;
            $('#searchbar').autocomplete({
              source: list,
              minLength: 1
            })
          }
        });
      }
      
    });

</script>
{% endblock %}
</html>