{% extends "base_generic.html" %}
{% block content %}
<h1>
    Future Steps
</h1>
<p>
    Our original goal in creating a website that classifies diseases through user input of symptoms was accomplished. From here on out, our new goals involve the creation of a severity implementation that will allow users to specify the relative severity of their symptoms and incorporate their choices into our model. Furthermore, our model itself is also only tested on the data we have received. Our accuracy is inherently a deceptive measure of our model’s true accuracy as our model is not cross referenced by more datasets. In the future, we wish to renew our model and garner at true accuracy measurement by obtaining more raw data from different sources. What once started as a bored student’s summer project shows promise as a commonplace web application.
</p>
{% endblock %}